body{
  font-family: Arial;
  color: white;
  background-color: black;
}
.todo-grid,
.all-items{
  display: grid;
  grid-template-columns: 260px 150px 100px;
  height: 32px;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  align-items: center;
}
.all-items{
  margin-bottom: 10px;
  align-items: stretch;
}
.input-elem{
  font-size: 15px;
  padding-left: 8px;
  border-radius: 8px;
  border: solid;
  border-width: 1px;
}
.input-date{
  font-size: 15px;
  padding-left: 6px;
  border-radius: 8px;
  border: solid;
  cursor: pointer;
  border-width: 1px;
}
.add-button{
  width: 100px;

  border-radius: 10px;
  border: none;
  background-color: orange;
  cursor: pointer;
}
.add-button:hover{
  opacity: 0.7;
}
.add-button:active{
  opacity: 0.5;
}
.delete-button{
  height: 30px;
  border-radius: 10px;
  border: none;
  color:black;
  background-color: white;
  cursor: pointer;
}
.delete-button:hover{
  opacity: 0.7;
}
.delete-button:active{
  opacity: 0.5;
}